body {
  font-family: "Lato", sans-serif;
  height: 100%;
  overflow: hidden;
}

.sidenav {
  height: 100%;
  width: 150px;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: ivory;
  display: block;
  padding: 10px 10px;
}

.sidenav a:hover {
  color: cornflowerblue;
}

.sidenav a.active {
  color: ivory;
  background-color: cornflowerblue;
}

.dropdown-btn {
  text-decoration: none;
  font-size: 15px;
  color: ivory;
  display: block;
  width: 100%;
  padding: 10px 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.dropdown-btn:hover {
  color: cornflowerblue;
}

.dropdown-container {
  display: none;
  background-color: #595959;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#b1{
  color: ivory;
  background-color: cornflowerblue;
}

.welcome{
  color: white;
  font-size: 10px;
}


/* ---------------------TABLE-------------------------*/
/*------------TABLE 1--------------*/
table#table1, table#table1 td, table#table1 th {  
  border: 2px solid #ecf7f9;
  text-align: left;
}

table#table1 {
  border-collapse: collapse;  
  width: 100%;
  table-layout:relative;
}

table#table1 td, table#table1 tr{
  padding: 5px;
  font: 12px arial, sans-serif;
  font-weight: bold
}


/*--------------TABLE 2--------------*/
table#table2, table#table2 td {  
  border: 2px solid #5F9EA0;
  text-align: left;
}

table#table2 {
  border-collapse: collapse;  
  width: 100%;
  table-layout:relative;
}

table#table2 th, table#table2 td, table#table2 tr{
  padding: 5px;
  font: 10px arial, sans-serif;
}

table#table2 th {
  position: sticky;
  background-color: #5F9EA0;
  color: white;
  top: -2px;
  z-index: 2;
  text-align: center-;
}

.breakrow:hover {
    background: #F5F5F5;
}

/* ---------------------TABLE-------------------------*/

.input2 {
    font-size: 12px;
    width: 50%;
    border-width: 0.5px;
    border-color:  black;
}

.btn {
    padding: 10px 24%;
    font-size: 12px;
    color: white;
    background: #2E8B57;
    border: none;
    border-radius: 3px;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.msg {
    margin: 5px auto; 
    padding: 2px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

div.input-group{
  border: 3px solid #c5e8ed;
  background-color: #ecf7f9;
}


/*-----------------------scrollbar------------------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*end-scrollbar*/
/*-----------------------scrollbar------------------------*/